main{
    margin:auto;
    width: 90%;
}
footer{
    text-align: center;
}
main section p{
    text-align: justify;
}
@media screen and (min-width:992px){
    main{
        overflow: hidden;
    }
    main section,
    main figure{
        float:left;
        width:45%;
    }
    main figure{
        text-align: center
    }
}
img{
    width: 70%;
    box-shadow: 5px 5px 5px 5px white;
}
body{
    background: rgb(100, 216, 181);
}
p{
    color: white;
}
h1{
    font-size: 300%;
    color: white;
}
button{
    color: white;
    background: transparent;
}